<?xml version='1.0' encoding='utf-8'?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.helloworld"
        version   = "1.0.0">
  <name>Konecte</name>
  <description>
    Gestión Curricular de entidades educativas
  </description>
  <author email="ccampos@lupersoft.com" href="http://lupersoft.com.ar/">
    Lupersoft
  </author>
  <content src="index.html" />
  <preference name="fullscreen" value="true" />
  <preference name="webviewbounce" value="true" />
  <preference name="UIWebViewBounce" value="true" />
  <preference name="DisallowOverscroll" value="true" />
  <preference name="BackupWebStorage" value="none" />
  <icon src="icon.png" />
  <gap:plugin name="org.apache.cordova.inappbrowser" />
  <icon src="ldpi.png" gap:platform="android" gap:qualifier="ldpi" />
  <icon src="mdpi.png" gap:platform="android" gap:qualifier="mdpi" />
  <icon src="hdpi.png" gap:platform="android" gap:qualifier="hdpi" />
  <icon src="xhdpi.png" gap:platform="android" gap:qualifier="xhdpi" />
  <icon src="xxhdpi.png" gap:platform="android" gap:qualifier="xxhdpi" />
  <access origin="*" />
  <!--<feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true" />
  </feature>-->
</widget>