<ion-view title="Cursos" hide-back-button="true">
    <ion-content class="has-header">
        <div class="card">
            <div class="item item-text-wrap">
                <h2>Nombre Completo</h2>
                <p>{{student.nombre}} {{student.apellido}}</p>
            </div>
        </div>
        <div class="card">
            <div class="item item-text-wrap">
                <h2>Telefono</h2>
                <p>{{student.telefono_movil}}</p>
                <h2>Domicilio</h2>
                <p>{{student.domicilio}}</p>
            </div>
        </div>
        <div class="card">
            <div class="item item-text-wrap">
                <h2>Fecha de nacimiento</h2>
                <p>{{student.fecha_nacimiento}}</p>
            </div>
        </div>
        <div class="card">
            <div class="item item-text-wrap">
                <h2>Indisciplinas y Observaciones</h2>
                <p ng-repeat="inasistance in inasistances">
                    {{fecha}} - {{inasistance.descripcion}}
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>
