<ion-view title="Materia" hide-back-button="true">
    <ion-content class="has-header">
        <div class="card">
            <div class="item item-text-wrap">
                <h2>Materia</h2>
                <p>{{subject.materia}}</p>
            </div>
        </div>
        <!--Falta que la api retorne una lista de profesores por materia con sus nombres-->
        <!--<div class="card">
            <div class="item item-text-wrap">
                <h2>Profesor</h2>
                <div ng-if="data.type == 'hoot' ">
                    //differnt template with hoot data
                </div>
                <p>No disponible</p>
            </div>
        </div>-->

        <div class="card">
            <div class="item item-text-wrap">
                <h2>Curricula </h2>
                <p>{{subject.curricula}}</p>
                <!--<a href="#">Descargar</a>-->
            </div>
        </div>
        <div class="card">
            <div class="item item-text-wrap">
                <h2>Material</h2>
                <a href="{{subject.programa}}">Descargar</a>
            </div>
        </div>
    </ion-content>
</ion-view>
