<ion-view title="Materias" hide-back-button="true">
    <ion-content class="has-header">
        <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" ng-model="searchText" placeholder="Buscar materias por Nombre">
        </label>
        <ion-list>
            <div class="item item-divider">
                Materias
            </div>
            <ion-item ng-repeat="subject in subjects | filter:searchText" type="item-text-wrap" href="#/alumno/materia/{{subject.id}}">
                {{subject.tipo_materia}}
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
