<ion-view title="Cursos" hide-back-button="true">
    <ion-content class="has-header">
        <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" ng-model="searchText" placeholder="Buscar materias por Nombre">
        </label>
        <ion-list>
            <div class="item item-divider">
                Materias
            </div>
            <ion-item ng-repeat="subject in subjects | filter:searchText" type="item-text-wrap" href="#/director/materia/{{subject.id}}">
                {{subject.tipo_materia}}
            </ion-item>
        </ion-list>
        <ion-list>
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" ng-model="searchSubjects" placeholder="Buscar Alumnos por Cédula, Nombre, Apellido">
            </label>
            <div class="item item-divider">
                Alumnos
            </div>
            <ion-item ng-repeat="student in students | filter:searchSubjects" type="item-text-wrap" href="#/director/alumno/{{student.id}}">
                {{student.nombre}} {{student.apellido}}
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
