<ion-view title="Personal" hide-back-button="true">
    <ion-content class="has-header">
        <div class="card">
            <div class="item item-text-wrap">
                <h2>Nombre Completo</h2>
                <p>{{worker.nombre}} {{worker.apellido}}</p>
            </div>
        </div>
        <div class="card">
            <div class="item item-text-wrap">
                <h2>Telefono</h2>
                <p>{{worker.telefono_movil}}</p>
                <h2>Domicilio</h2>
                <p>{{worker.domicilio}}</p>
                <h2>E-Mail</h2>
                <p>{{worker.mail}}</p>
            </div>
        </div>
        <div class="card">
            <div class="item item-text-wrap">
                <h2>Cargo</h2>
                <p>{{worker.cargo_personal}}</p>
            </div>
        </div>
    </ion-content>
</ion-view>
